header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 1440px;
    height: 45px;
    left: 0px;
    top: 0px;

    background: #000000;
}

.top-top {
    width: 286px;
    height: 21px;
    left: 577px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;


    /* Inside auto layout */


}

.logo-top {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 80px;
    top: 73px;

}

.logo-text-top {
    position: absolute;
    width: 39px;
    height: 33px;
    left: 109px;
    top: 50px;

    /* H2 SemiBold| 1.953em */

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 27.3438px;
    line-height: 33px;
    /* identical to box height */


    color: #000000; 
}

.header-shop {
    position: absolute;
    width: 39px;
    height: 21px;
    left: 520px;
    top: 74px;

    text-decoration: none;

    /* Body | 1.25em */

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}
.header-img {
    position: absolute;
    width: 10px;
    height: 7px;
    left: 564px;
    top: 81px;
}
.header-about {
    position: absolute;
    width: 100px;
    height: 21px;
    left: 599px;
    top: 74px;

    text-decoration: none;

    /* Body | 1.25em */

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}
.header-compare {
    position: absolute;
    width: 39px;
    height: 21px;
    left: 720px;
    top: 74px;

    text-decoration: none;

    /* Body | 1.25em */

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}
.header-FAQs {
    position: absolute;
    width: 39px;
    height: 21px;
    left: 820px;
    top: 74px;

    text-decoration: none;

    /* Body | 1.25em */

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}
.header-contact {
    position: absolute;
    width: 39px;
    height: 21px;
    left: 900px;
    top: 74px;

    text-decoration: none;

    /* Body | 1.25em */

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}
.header-hr {
}

.header-hr {
    position: absolute;
    width: 1278px;
    height: 0px;
    left: 80px;
    top: 125px;

    border: 2px solid #000000;
}

.main-img {
    position: absolute;
    width: 522px;
    height: 540px;
    left: 187px;
    top: 174px;
}

.more-photo-1 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 79px;
    top: 174px;
}
.more-photo-2 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 79px;
    top: 304px;
}
.more-photo-3 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 79px;
    top: 414px;
}
.more-photo-4 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 79px;
    top: 524px;
}
.more-photo-5 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 79px;
    top: 634px;
}

.top-photo-line {
    position: absolute;
    width: 80px;
    height: 0px;
    left: 79px;
    top: 256px;

    border: 1px solid #000000;
}

.hr-description-left-1 {
    position: absolute;
    width: 522px;
    height: 0px;
    left: 187px;
    top: 734px;

    border: 1px solid #00000080(0, 0, 0, 0.5);
}

.camera-1-description {
    position: absolute;
    width: 109px;
    height: 26px;
    left: 187px;
    top: 740px;

    /* H3 Medium| 1.563em */

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 21.875px;
    line-height: 26px;

    color: #000000;
}

.db {
    position: absolute;
    width: 521px;
    height: 132px;
    left: 187px;
    top: 785px;

    /* Body | 1.25em */

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;

    color: #555555;
}

.opened {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 685px;
    top: 760px;
}

.hr-techSpecs-up {
    position: absolute;
    width: 522px;
    height: 0px;
    left: 187px;
    top: 932px;

    border: 1px solid #00000080(118, 105, 105, 0.5);
}
.closed-1 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 685px;
    top: 958px;
}
.hr-techSpecs-bottom {
    position: absolute;
    width: 522px;
    height: 0px;
    left: 187px;
    top: 988px;

    border: 1px solid #00000080(0, 0, 0, 0.5);
}
.closed-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 685px;
    top: 1014px;
}
.hr-Shipping-bottom {
    position: absolute;
    width: 522px;
    height: 0px;
    left: 187px;
    top: 1044px;

    border: 1px solid #00000080(0, 0, 0, 0.5);
}

.TechSpaces {
    position: absolute;
    width: 109px;
    height: 26px;
    left: 187px;
    top: 933px;

    /* H3 Medium| 1.563em */

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 21.875px;
    line-height: 26px;

    color: #000000;
}

.Shippung-Waranty {
    position: absolute;
    width: 194px;
    height: 26px;
    left: 187px;
    top: 993px;

    /* H3 Medium| 1.563em */

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 21.875px;
    line-height: 26px;

    color: #000000; 
}

.Promo-Marquee {
    position: absolute;
    width: 1440px;
    height: 60px;
    left: 0px;
    top: 1092px;
}

.right-top-cameraName {
    position: absolute;
    width: 140px;
    height: 41px;
    left: 728px;
    top: 174px;

    /* H1 Bold | 2.441em */

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 34.1797px;
    line-height: 41px;
    /* identical to box height */
}
.right-top-camera-price {
    position: absolute;
    width: 55px;
    height: 26px;
    left: 728px;
    top: 223px;

    /* H3 Medium| 1.563em */

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 21.875px;
    line-height: 26px;

    color: #000000;
}
.right-top-camera-oldPrice {
    position: absolute;
    width: 79px;
    height: 21px;
    left: 789px;
    top: 230px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    /* identical to box height */

    text-decoration-line: line-through;

    color: rgba(0, 0, 0, 0.5);
}
.right-top-options {
    position: absolute;
    width: 58px;
    height: 21px;
    left: 728px;
    top: 269px;

    /* Body | 1.25em */

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    /* identical to box height */


    color: #000000;
}
.right-top-Z5 {
    box-sizing: border-box;
    border-radius: 1px;
/* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 109px;
    height: 37px;
    left: 728px;
    top: 318px;

    background-color: #000000;
    color: #FFFFFF;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.right-top-42-50-mm {
    box-sizing: border-box;

/* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 131px;
    height: 37px;
    left: 843px;
    top: 318px;

    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #FFFFFF;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.right-top-curently-img {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 731px;
    top: 375px;
}
.right-top-curently-text {
    position: absolute;
    width: 204px;
    height: 16px;
    left: 756px;
    top: 363px;

    /* Helper Regular | 1em */

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #000000;
}
.right-top-chip-img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 728px;
    top: 410px;
}
.right-top-chip-text {
    position: absolute;
    width: 86px;
    height: 17px;
    left: 757px;
    top: 400.5px;

    /* Helper Regular | 1em */

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #000000;
}
.right-top-works-with-img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 728px;
    top: 443px;    
}
.right-top-works-with-text {
    position: absolute;
    width: 160px;
    height: 17px;
    left: 757px;
    top: 433.5px;
    
    /* Helper Regular | 1em */
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: #000000;
}
.right-top-megapixels-img {
    position: absolute;
    width: 24px;
    height: 20.57px;
    left: 728px;
    top: 478px;
}
.right-top-megapixels-text {
    position: absolute;
    height: 17px;
    left: 757px;
    top: 464.79px;
    
    /* Helper Regular | 1em */
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: #000000;    
}
.right-top-batery-img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 728px;
    top: 503.57px;
}
.right-top-batery-text {
    position: absolute;
    width: 220px;
    height: 17px;
    left: 757px;
    top: 496.07px;
    
    /* Helper Regular | 1em */
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: #000000;    
}
.right-top-tech-specs {
    position: absolute;
    height: 15px;
    left: 728px;
    top: 531px;
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 12.5px;
    line-height: 15px;
    /* identical to box height */
    
    text-decoration-line: underline;
    
    color: #000000;
}
.right-top-add-cart {
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    gap: 10px;
    
    position: absolute;
    width: 200px;
    height: 41px;
    left: 729px;
    top: 580px;
    
    /* CTA */
    
    background: #B4E907;
    border: 1px solid #000000;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 100px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
}
.right-top-buy-now {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    color: #FFFFFF;

    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    gap: 10px;
    
    position: absolute;
    width: 200px;
    height: 41px;
    left: 944px;
    top: 580px;
    
    background: #000000;
    border: 1px solid #000000;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}
.right-top-hr {
    position: absolute;
    width: 630px;
    height: 0px;
    left: 728px;
    top: 646px;
    
    border: 1px solid #000000;
}

.right-top-help-img {
    position: absolute;
    height: 24px;
    left: 728px;
    top: 689.5px;
}
.right-top-help-text {
    position: absolute;
    height: 21px;
    left: 762px;
    top: 672.5px;
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #000000;
}
.right-top-help-contact-text {
    position: absolute;

    height: 21px;
    left: 904px;
    top: 689.5px;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    /* identical to box height */


    color: #000000;
}
.right-top-free-shipping-img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 728px;
    top: 723px;    
}
.right-top-free-shipping-text {
    position: absolute;
    width: 179px;
    height: 21px;
    left: 762px;
    top: 706.5px;
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #000000;
}
.right-top-share-img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 728px;
    top: 755px;
}
.right-top-share-text {
    position: absolute;
    width: 43px;
    height: 21px;
    left: 762px;
    top: 742.5px;
    
    /* Body | 1.25em */
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #000000;
}

.included-h2 {
    position: absolute;
    width: 250px;
    height: 41px;
    left: 595px;
    top: 1227px;
    
    /* H1 Bold | 2.441em */
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 34.1797px;
    line-height: 41px;
    /* identical to box height */
    
    
    color: #000000;    
}
.uncluded-nikon-Z5-svg {
    position: absolute;
    width: 88px;
    height: 88px;
    left: 257px;
    top: 1318px;
}
.included-camera-name {
    position: absolute;
    height: 21px;
    left: 267px;
    top: 1432px;
    
    /* Body | 1.25em */
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #000000;
}
.included-Lens {
    position: absolute;
    width: 88px;
    height: 88px;
    left: 495px;
    top: 1318px;    
}
.included-lens-text {
    position: absolute;
    width: 88px;
    height: 21px;
    left: 495px;
    top: 1432px;
    
    /* Body | 1.25em */
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #000000;
}
.included-cable {
    position: absolute;
    width: 88px;
    height: 88px;
    left: 743px;
    top: 1318px;
}
.included-cable-text {
    position: absolute;
    width: 109px;
    height: 21px;
    left: 733px;
    top: 1432px;
    
    /* Body | 1.25em */
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #000000;
}
.included-adobe {
    position: absolute;
    width: 88px;
    height: 87.42px;
    left: 1042px;
    top: 1318px;
}
.included-adobe-text {
    position: absolute;
    width: 190px;
    height: 21px;
    left: 992px;
    top: 1432px;
    
    /* Body | 1.25em */
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #000000;
}

.img-block-promo {
    position: absolute;
    width: 1280px;
    height: 380px;
    left: 80px;
    top: 1528px;
    
    background: #102B26;
    border-radius: 20px;
}
.img-block-extra-promo {
    position: absolute;
    width: 1280px;
    height: 748px;
    left: 80px;
    top: 1958px;
}

.dont-h2 {
    position: absolute;
    width: 380px;
    height: 41px;
    left: 530px;
    top: 2766px;
    
    /* H1 Bold | 2.441em */
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 34.1797px;
    line-height: 41px;
    /* identical to box height */
    
    
    color: #000000;
}
.dont-excelent {
    position: absolute;
    width: 240px;
    height: 26px;
    left: 100px;
    top: 2906px;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */

    text-align: center;

    color: #000000;
}
.dont-star-1 {
}
.dont-star-2 {
}
.dont-star-3 {
}
.dont-star-4 {
}
.dont-star-5 {
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    
    position: absolute;
    width: 232px;
    height: 40px;
    left: 104px;
    top: 2957px; 
}

.dont-basedOn {
    position: absolute;
    width: 240px;
    height: 22px;
    left: 57px;
    top: 2988px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    text-align: center;
    
    color: #000000;
}
.dont-number-reviews {
    position: absolute;
    width: 240px;
    height: 22px;
    left: 123px;
    top: 3002px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    text-align: center;
    
    color: #000000;
}
.dont-star-bottom {
    position: absolute;
    left: 11.93%;
    right: 86.31%;
    top: 3030px;
    bottom: 45%;
}
.dont-Trustpilot {
    position: absolute;
    width: 67px;
    height: 26px;
    left: 201.18px;
    top: 3018px;
    
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    
    
    color: #000000;
}

.more-about {
}


.stars-card-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
    
    position: absolute;
    width: 108px;
    height: 20px;
    left: 400px;
    top: 2920.5px;
}
.dont-star-21 {
    width: 20px;
    height: 20px;
}
.dont-star-22 {
    width: 20px;
    height: 20px;
}
.dont-star-23 {
    width: 20px;
    height: 20px;
}
.dont-star-24 {
    width: 20px;
    height: 20px;
}
.dont-star-25 {
    width: 20px;
    height: 20px;
}
.card-2-time-publishes {
    position: absolute;
    width: 58px;
    height: 26px;
    left: 582px;
    top: 2905.5px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 26px;
    /* identical to box height, or 217% */
    
    
    color: #000000;
}
.card-2-summary {
    position: absolute;
    width: 240px;
    height: 26px;
    left: 400px;
    top: 2935.5px;
    
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #000000;
}
.card-2-why {
    position: absolute;
    width: 240px;
    height: 44px;
    left: 400px;
    top: 2973.5px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */
    
    
    color: #000000;
}
.card-2-hr{
    position: absolute;
    width: 60px;
    height: 1px;
    left: 400px;
    top: 3031.5px;
    
    background: #D9D9D9;
}
.card-2-worldtraveler {
    position: absolute;
    width: 85px;
    height: 22px;
    left: 400px;
    top: 3030.5px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #000000;
    
}

/* card 3 */
.stars-card-3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
    
    position: absolute;
    width: 108px;
    height: 20px;
    left: 704px;
    top: 2920.5px;
}
.dont-star-31 {
    width: 20px;
    height: 20px;
}
.dont-star-32 {
    width: 20px;
    height: 20px;
}
.dont-star-33 {
    width: 20px;
    height: 20px;
}
.dont-star-34 {
    width: 20px;
    height: 20px;
}
.dont-star-35 {
    width: 20px;
    height: 20px;
}
.card-3-time-publishes {
    position: absolute;
    width: 58px;
    height: 26px;
    left: 886px;
    top: 2905.5px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 26px;
    /* identical to box height, or 217% */
    
    
    color: #000000;
}
.card-3-summary {
    position: absolute;
    width: 240px;
    height: 26px;
    left: 704px;
    top: 2935.5px;
    
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #000000;
}
.card-3-why {
    position: absolute;
    width: 240px;
    height: 44px;
    left: 704px;
    top: 2973.5px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */
    
    
    color: #000000;
}
.card-3-hr{
    position: absolute;
    width: 60px;
    height: 1px;
    left: 704px;
    top: 3031.5px;
    
    background: #D9D9D9;
}
.card-3-worldtraveler {
    position: absolute;
    width: 85px;
    height: 22px;
    left: 704px;
    top: 3030.5px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #000000;
    
}

/* card 4 */
.stars-card-4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
    
    position: absolute;
    width: 108px;
    height: 20px;
    left: 1008px;
    top: 2920.5px;
}
.dont-star-41 {
    width: 20px;
    height: 20px;
}
.dont-star-42 {
    width: 20px;
    height: 20px;
}
.dont-star-43 {
    width: 20px;
    height: 20px;
}
.dont-star-44 {
    width: 20px;
    height: 20px;
}
.dont-star-45 {
    width: 20px;
    height: 20px;
}
.card-4-time-publishes {
    position: absolute;
    width: 58px;
    height: 26px;
    left: 1185px;
    top: 2905.5px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 26px;
    /* identical to box height, or 217% */
    
    
    color: #000000;
}
.card-4-summary {
    position: absolute;
    width: 240px;
    height: 26px;
    left: 1008px;
    top: 2935.5px;
    
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #000000;
}
.card-4-why {
    position: absolute;
    width: 240px;
    height: 44px;
    left: 1008px;
    top: 2973.5px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */
    
    
    color: #000000;
}
.card-4-hr{
    position: absolute;
    width: 60px;
    height: 1px;
    left: 1008px;
    top: 3031.5px;
    
    background: #D9D9D9;
}
.card-4-worldtraveler {
    position: absolute;
    width: 85px;
    height: 22px;
    left: 1008px;
    top: 3030.5px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #000000;
    
}

/* card 5 */

.stars-card-5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
    
    position: absolute;
    width: 108px;
    height: 20px;
    left: 1312px;
    top: 2920.5px;
}
.dont-star-51 {
    width: 20px;
    height: 20px;
}
.dont-star-52 {
    width: 20px;
    height: 20px;
}
.dont-star-53 {
    width: 20px;
    height: 20px;
}
.dont-star-54 {
    width: 20px;
    height: 20px;
}
.dont-star-55 {
    width: 20px;
    height: 20px;
}

.card-5-summary {
    position: absolute;
    width: 128px;
    height: 26px;
    left: 1312px;
    top: 2935.5px;
    
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    
    color: #000000;
}
.card-5-why {
    position: absolute;
    width: 128px;
    height: 44px;
    left: 1312px;
    top: 2973.5px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */
    
    
    color: #000000;
}
.card-5-hr{
    position: absolute;
    width: 60px;
    height: 1px;
    left: 1312px;
    top: 3031.5px;
    
    background: #D9D9D9;
}
.card-5-worldtraveler {
    position: absolute;
    width: 85px;
    height: 22px;
    left: 1312px;
    top: 3030.5px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    
    
    color: #000000;
    
}

/* cantact-us */

.contact-us {
    position: absolute;
    width: 1280px;
    height: 583px;
    left: 49px;
    top: 1600px;
}

.button-contact {
    z-index: 2;
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    gap: 10px;
    
    position: absolute;
    width: 131px;
    height: 39px;
    left: 167px;
    top: 3704px;
    
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
    border-radius: 100px;
}



.contact-us-camera {
    z-index: 2;
    position: absolute;
    width: 473px;
    height: 583px;
    left: 876px;
    top: 3259px;
}

.bacground-contact {
    z-index: -1;
    position: absolute;
    width: 1280px;
    height: 448px;
    left: 89px;
    top: 3404px;
    
    background: #102B26;
    border-radius: 20px;
}

.contact-us-h2 {
    position: absolute;
    width: 510px;
    height: 82px;
    left: 177px;
    top: 3460px;
    
    /* H1 Bold | 2.441em */
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 34.1797px;
    line-height: 41px;
    
    color: #ffffff;
}


.contact-us-p {
    position: absolute;
    width: 541px;
    height: 47px;
    left: 177px;
    top: 3567px;
    
    /* Body | 1.25em */
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    
    color: #FFFFFF;
}

.contact-us-faces {
    position: absolute;
    width: 129px;
    height: 48.93px;
    left: 177px;
    top: 3631.53px;
}

.contact-us-button {
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    gap: 10px;
    
    position: absolute;
    width: 131px;
    height: 39px;
    left: 177px;
    top: 3714px;
    
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
    border-radius: 100px;
}

.contact-us-button-text-asside {
    position: absolute;
    width: 213px;
    height: 17px;
    left: 320px;
    top: 3714px;
    
    /* Helper Regular | 1em */
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: rgba(255, 255, 255, 0.5);
    
}

.built-for-real-world-img {
    position: absolute;
    width: 1450px;
    height: 385px;
    left: -11px;
    top: 3902px;
}


/* you may also like card 1 */

.you-may-also-like-card-1 {
    position: absolute;
    width: 300px;
    height: 450px;
    left: 79px;
    top: 4405px;
    
    background: #FFFFFF;
    box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.you-may-also-like-card-1-img {
    position: absolute;
    width: 250px;
    height: 203px;
    left: 104px;
    top: 4430px;    
}
.you-may-also-like-card-1-camera-name {

    position: absolute;
    width: 256px;
    height: 26px;
    left: 104px;
    top: 4690px;
    
    /* H3 Medium| 1.563em */
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 21.875px;
    line-height: 26px;
    
    color: #000000;
}
.you-may-also-like-card-1-camera-price {
    position: absolute;
    width: 68px;
    height: 21px;
    left: 104px;
    top: 4726px;
    
    /* Body | 1.25em */
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: rgba(0, 0, 0, 0.6);
}
.you-may-also-like-card-1-add-button {
    z-index: 2;
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    gap: 10px;
    
    position: absolute;
    width: 168px;
    height: 39px;
    left: 104px;
    top: 4780px;
    
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
}
.you-may-also-like-card-1-stars {
    z-index: 2;
    position: absolute;
    width: 20px;
    height: 17px;
    left: 310px;
    top: 4780px;
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;
}
.you-may-also-like-card-1-star {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 336px;
    top: 4792px;    
}

/* you may also like card 2 */

.you-may-also-like-card-2 {
    position: absolute;
    width: 300px;
    height: 450px;
    left: 404px;
    top: 4405px;
    
    background: #FFFFFF;
    box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.you-may-also-like-card-2-img {
    position: absolute;
    width: 250px;
    height: 203px;
    left: 429px;
    top: 4430px;    
}
.you-may-also-like-card-2-camera-name {

    position: absolute;
    width: 256px;
    height: 26px;
    left: 429px;
    top: 4690px;
    
    /* H3 Medium| 1.563em */
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 21.875px;
    line-height: 26px;
    
    color: #000000;
}
.you-may-also-like-card-2-camera-price {
    position: absolute;
    width: 68px;
    height: 21px;
    left: 431px;
    top: 4726px;
    
    /* Body | 1.25em */
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: rgba(0, 0, 0, 0.6);
}
.you-may-also-like-card-2-add-button {
    z-index: 2;
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    gap: 10px;
    
    position: absolute;
    width: 168px;
    height: 39px;
    left: 429px;
    top: 4780px;
    
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
}
.you-may-also-like-card-2-stars {
    position: absolute;
    width: 21px;
    height: 17px;
    left: 635px;
    top: 4780px;
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;
}
.you-may-also-like-card-2-star {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 661px;
    top: 4792px;
}

/* you may also like card 3 */

.you-may-also-like-card-33 {
    position: absolute;
    width: 300px;
    height: 450px;
    left: 729px;
    top: 4405px;
    
    background: #FFFFFF;
    box-shadow: 0px 2px 20px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.you-may-also-like-card-3-img {
    position: absolute;
    width: 250px;
    height: 203px;
    left: 754px;
    top: 4430px; 
}
.you-may-also-like-card-3-camera-name {
    position: absolute;
    width: 256px;
    height: 26px;
    left: 754px;
    top: 4690px;
    
    /* H3 Medium| 1.563em */
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 21.875px;
    line-height: 26px;
    
    color: #000000;
}
.you-may-also-like-card-3-camera-price {
    position: absolute;
    width: 68px;
    height: 21px;
    left: 754px;
    top: 4726px;
    
    /* Body | 1.25em */
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: rgba(0, 0, 0, 0.6);
}
.you-may-also-like-card-3-add-button {
    z-index: 2;
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    gap: 10px;
    
    position: absolute;
    width: 168px;
    height: 39px;
    left: 754px;
    top: 4780px;
    
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
}
.you-may-also-like-card-3-stars {
    position: absolute;
    width: 21px;
    height: 17px;
    left: 960px;
    top: 4780px;
    
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;
}
.you-may-also-like-card-3-star {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 986px;
    top: 4792px;
}